# Plotting dependencies for scripts/*.py

# python3 -m venv .venv
# source .venv/bin/activate
# pip install -r requirements.txt

contourpy==1.3.3
cycler==0.12.1
fonttools==4.63.0
kiwisolver==1.5.0
matplotlib==3.11.1
numpy==2.5.1
packaging==26.2
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
SciencePlots==2.2.2
six==1.17.0
